body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 1px;
    
}
#calc{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: hsl(0, 1%, 15%);
     border-radius: 15 px;
     max-width: 500px;
     overflow: hidden;
}
#display{
    width: 100%;
    padding: 10px;
    font-size: 5rem;
    text-align: left;
    border: none ;
    background-color: red;
    color: lightgray;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px ;
    border: none;
    background-color: lightgray;
    color: red; 
    font-size: 3rem;
    font-weight: bold ;
    cursor:  pointer ;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px ;
    padding: 10px ;
    text-align: center;
    border-radius: 10px;
    border: none ; 

}
.signs{
    background-color: black;
    color: white;
    position: relative;
}
button:hover{
    color: white;
    background-color: red;
}
button:active{
    color: red;
    background-color: white;
}
.signs:hover{
    color: black;
    background-color: white;

}
.signs:active{
    color: white;
    background-color: darkgrey;
}

